/*

#login {
	background:url( images/login-bkg-tile.jpg ) center top no-repeat;
	width: 380px;
}

#login form {
	border:none;
	margin-top: 0px;
	-webkit-box-shadow: none;
}


#loginform, #registerform, #lostpasswordform {
	background-color: transparent;
}

form {
	color:#fff;
	-moz-box-shadow:none;
}

#login label {
	color:#fff;
}

h1 a {
	background: transparent;
	height: 122px;
	width: 380px;
}

#nav {
	background:url( images/login-bkg-bottom.gif ) center bottom no-repeat;
	width:380px;
	height:45px;
	text-indent: 26px;
	margin:0px; padding: 0px;
	text-shadow:none;	
}

.login #nav a, .login #nav a:hover {
	color:#fff !important;
}

#login form .submit input {	
	margin-right: 11px;
}

#login p.message {
	padding: 12px;
	margin: 10px 26px 0px 24px;
}

#login #login_error {
	padding: 12px;
	margin: 15px 26px 0px 24px;
}

#user_pass, #user_login, #user_email {
	font-size: 20px;
	width: 94%;
}
*/